html,body{
  min-height: 100%;
}
*{
  font-family: 'Montserrat', sans-serif;
}
a{
  cursor: pointer;
}
img{
  width: 100%;
}
h1,h2,h3,h4{
  margin: 0;
}
.white{
  color:white;
}
.text-center{
  text-align: center;
}
header{
  height: 75px;
  width: 100%;
}
header .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.container{
  max-width: 90%;
  margin: 0 auto;
}

.logo{
 display: flex;
 align-items: flex-end;
}
.logo img{
  max-width: 170px;
}
.logo p{
  margin: 0;
  color: #9b9b9b;
  padding-bottom: 3px;
}
nav ul{  
  margin: 0;
}
nav ul li{
  float: right;
  padding: 30px 15px;
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  color: #9b9b9b;
  text-transform: uppercase;
  font-size: .75em;
  letter-spacing: .5px;
  padding-bottom: 2px;
  border: 1px solid transparent;
}

nav ul li a:hover{
  transition: .2s ease-in-out all;
  border-bottom: 2px solid #9b9b9b;
}
section.banner{
  height: calc(100vh - 75px);
  background: #ccc url('../images/new-york.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
section.text{
  padding: 5%;
}
section.padding{
  padding: 0 5%;
}
.banner-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner__content{
  border: 4px solid red;
  padding: 5%;
  box-sizing: content-box;
  width: auto;
}
.reservation{
  text-align: center;
  color: #ccc;
}
.reservation hr{
  border:.5px solid #ccc;
}
.heading{
  border: 1px solid #ccc;
}
.table-content{
  font-size: .8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.red{
  color: #F03434;
}
.contact{
  font-size: 2.5em;
  color: #333;
}
.script{
  font-size: 1.4em;
  font-family: 'Happy Monkey', cursive;
}
.table-content_text{
  padding: 10px;
}
.b-l{
  border-left: .5px solid #efefef;
}
.m-xl{
  margin: 2em 0;
}
.p-top-sm{
  padding-top: 2%;
}
.p-r-m{
  padding-right: 10px;
}
.grid-container{
  display: grid;
}
.p-sm{
  padding: 4px 15px;
}
.content-services .m-sm{
  margin: 3px;
}
.dark-bg{
  background: #222;
}
.grey-bg{
  background: #efefef;
}
.col-2{
  grid-template-columns: 1fr 1fr;
}
.col-3{
  grid-template-columns: 1fr 1fr 1fr;
}
.col-2-3{
  grid-template-columns: 2fr 3fr;
}
.col-1-3{
  grid-template-columns: 1fr 3fr;
}
.sidebar{
  padding:0 10%;
}
.blue{
  color: #336699;
}
.table-content_text h3{
  font-weight: 100;
  font-size: 1.6em;
  margin: .7em 0 0;
}
.table-content_text  p{
  line-height: 1.6em;
}
.divider-contact{
  width: 100%;
  background: #efefef url('../images/new-york.jpg');
  background-size: cover;
  background-position: 30% 30%;
  height: 15vh;
  filter: brightness(50%);
}
.p-l-l{
  padding-left: 2em;
}
.map iframe{
  min-height: 40vh;
}
@media screen and (max-width: 780px ){
  .col-3,.col-1-3,.col-2-3,.col-2{
    grid-template-columns: 1fr ;
  }
  .sidebar{
    margin-top: 2em;
    order: 2;
  }
  header{ height: auto;}
  header .container{
    grid-template-columns:  1fr;
    justify-content: center;
    align-items: center;
  }
  nav{
    text-align: center;
  }
  nav ul{
    margin: 0;
    padding: 0;
  }
  nav ul li{
    float: none;
    display: inline-block;
  }
  .logo {
    
    align-items: flex-end;
    justify-content: center;
}
}