html,body{
  min-height: 100%;
}
header{
  height: auto;
  width: 100%;
}
header .container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
}
.container{
  max-width: 90%;
  margin: 0 auto;
}
nav{
  
}
nav ul{
  
  margin: 10px 0;
}
nav ul li{
  float: right;
  padding: 5%;
  list-style: none;
}
section.banner{
  height: calc(100vh - 70px);
  background: #ccc url('../images/new-york.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

