html,body{
  min-height: 100%;
}
*{
  font-family: 'Montserrat', sans-serif;
}
a{
  cursor: pointer;
}
img{
  width: 100%;
}
h1,h2,h3,h4{
  margin: 0;
}
.white{
  color:white;
}
.text-center{
  text-align: center;
}
header{
  height: 70px;
  width: 100%;
}
header .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.container{
  max-width: 90%;
  margin: 0 auto;
}

.logo{
 display: grid; 
 grid-template-columns:  1fr 1fr;
 justify-content: flex-end;
 align-items: flex-end;
}
.logo p{
  margin: 0;
  color: #9b9b9b;
  padding-bottom: 3px;
}
nav ul{  
  margin: 10px 0;
}
nav ul li{
  float: right;
  padding: 5% 2%;
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  color: #9b9b9b;
  text-transform: uppercase;
  font-size: .75em;
  letter-spacing: .5px;
  padding-bottom: 2px;
  border: 1px solid transparent;
}

nav ul li a:hover{
  transition: .2s ease-in-out all;
  border-bottom: 2px solid #9b9b9b;
}
section.banner{
  height: calc(100vh - 70px);
  background: #ccc url('../images/new-york.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
.banner-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner__content{
  border: 4px solid red;
  padding: 5%;
  box-sizing: content-box;
  width: auto;
}
.heading{
  border: 1px solid #ccc;
}
.table-content{
  font-size: .8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  
}
.table-content_text{
  padding: 10px;
}
.b-l{
  border-left: .5px solid #efefef;
}
.p-top-sm{
  padding-top: 2%;
}
.grid-container{
  display: grid;
}
.p-sm{
  padding: 4px 15px;
}
.content-services .m-sm{
  margin: 3px;
}
.grey-bg{
  background: #efefef;
}
.col-2-3{
  grid-template-columns: 2fr 3fr;
}
.col-1-3{
  grid-template-columns: 1fr 3fr;
}
.sidebar{
  padding:0 10%;
}
.blue{
  color: #336699;
}
@media screen and (max-width: 780px ){
  
}